@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*,
input,
button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body{
  font-family: "Montserrat", sans-serif, Ubuntu;
  background: #f1f1f1;
}

body img{
  position: relative;
  max-width: 100%;
}
